body{
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
}
.need-help {
    text-align: center;
    background-image: url(images/rever.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15%;
    margin-top: 10px;
}
 .link-button {
text-decoration: none;
background-color:tomato;
padding: 6px 15px;
border-radius: 5px;
color: white;
  } 
  .donate-today{
    text-align: center;
    margin-bottom: 50px;
  }
  h1{
    font-size: 40px;
  }
  .donate-taka{
display: flex;
margin-left: 30%;
margin-bottom: 30px;
 }
.trouble{
  padding: 20px 20px;
  font-size: 30px;

}
.futani{
  color: rgb(209, 87, 87);
  border: 2px solid rgb(209, 87, 87);
  border-radius: 5px;
}
#text{
  margin-bottom: 15px;
}
.link-button-two{
text-decoration: none;
}

.Education{
  display: flex;
  margin-left: 10%;
}
.food{
  margin-right: 5%;
  margin-left: 5%;
  width: 20%;
  padding: 10px  10px;
  border-radius: 5px;
}
.gray{
  background-color: rgb(230, 223, 223);
}
.pink{
  background-color: rgb(218, 166, 174);
}
.wood{
  background-color: rgba(201, 201, 104, 0.76);
}
.head{
  margin-top: 15%;
  display: flex;
}
.save-lives{
  width: 50%;
  margin-left: 10%;
  margin-right: 10px;
}
.donation-photo{
  width: 50%;
background-repeat: no-repeat;
}
.donation-photo img{
  width: 80%;
}
.donation-image{
  width: 50%;
  background-repeat: no-repeat;
}
.donation-image img{
  width: 100%;
}
.updates{
  text-align: center;
  margin-top: 10%;
}
.email{
margin-left: 30%;
margin-right: 30%;
padding: 40px 120px;
background-color: rgb(219, 216, 166);
}
.last-button{
  text-decoration: none;
background-color:tomato;
padding: 5px 7px;
border-radius: 5px;
color: white;
}

